<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_9" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>visa</display-name>

	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>visa.root</param-value>
	</context-param>
	<!-- WebService config begin -->
	<servlet>
		<servlet-name>CXF</servlet-name>
		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>CXF</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	<!-- WebService config end -->
	<filter>
		<filter-name>OauthFilter</filter-name>
		<filter-class>com.sense.sso.oauth.WebFilter</filter-class>
		<!-- <init-param>
			<param-name>serverAddress</param-name>
			<param-value>http://10.100.135.92:8080/IAM</param-value>
		</init-param>
		<init-param>
			<param-name>clientId</param-name>
			<param-value>VC</param-value>
		</init-param>
		<init-param>
			<param-name>clientSecret</param-name>
			<param-value>9b59bcc97145b95a18abffbd69538579</param-value>
		</init-param> -->
	</filter>
	<filter-mapping>
		<filter-name>OauthFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>	
	
	<!-- encoding  Filter add by lianchao-->
	<!-- 
 	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	  -->	
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>com.tapi.tcs.tf.base.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- encoding  Filter add by lianchao-->

	<!-- log4j context-param and listener -->
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:log4j.properties</param-value>
	</context-param>
	<context-param>
		<param-name>log4jRefreshInterval</param-name>
		<param-value>6000</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<!-- log4j context-param and listener -->
	
	<!-- spring context-param and listener -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/**/*.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- <listener>
		<listener-class>net.sf.ehcache.constructs.web.ShutdownListener</listener-class>
	</listener> -->
	
	<filter>
		<filter-name>hibernateFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>hibernateFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>hibernateFilter</filter-name>
		<url-pattern>*.dwr</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>hibernateFilter</filter-name>
		<url-pattern>/services/*</url-pattern>
	</filter-mapping>
	
	<!-- check session -->
   <filter>
		<filter-name>SessionFilter</filter-name>
		<filter-class>com.tapi.tcs.vc.common.filter.SessionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping> 
	 
	<!-- sitemesh and strtus2 filter -->
 	<filter>
		<filter-name>struts-prepare</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareFilter</filter-class>
	</filter>
	<filter>
		<filter-name>struts-execute</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsExecuteFilter</filter-class>
	</filter>
	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
	</filter>
	<!--sitemesh in the middle and after struts-prepare -->
	<filter-mapping>
		<filter-name>struts-prepare</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts-prepare</filter-name>
		<url-pattern>*.service</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts-execute</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts-execute</filter-name>
		<url-pattern>*.service</url-pattern>
	</filter-mapping>
   
	
	<!-- sitemesh and strtus2 filter -->

	<!-- session expiration time in minutes-->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<el-ignored>true</el-ignored>
		</jsp-property-group>
	</jsp-config>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>
